@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .nav-item {
        @apply px-4 py-1.5 rounded-full text-white/70 text-sm font-semibold hover:bg-white/10 hover:text-white transition duration-300;
    }

    .hero-ring {
        @apply absolute inset-0 border-2 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-full border-red-300/5 shadow-[0_0_80px_inset] shadow-red-300/5;
    }

    .services-container {
        position: relative;
        perspective: 1000px; /* Add perspective to create a 3D effect */
        width: 100%;
        height: 400px; /* Adjust based on your design */
    }

    .services-wrapper {
        position: absolute;
        top: 15%;
        left: 50%;
        transform-style: preserve-3d; /* Allow children to have 3D space */
        animation: rotate3d 15s infinite linear; /* Infinite animation loop */
        transform: translateX(-50%);
    }

    @keyframes rotate3d {
        0% {
            transform: rotateY(0deg); /* Start at 0° */
        }
        100% {
            transform: rotateY(360deg); /* End at 360° */
        }
    }

    .service-card {
        transition: transform 1s ease-in-out; /* Smooth transitions for each card */
    }

    .service-card:hover {
        transform: scale(1.1); /* Slightly scale the card on hover for effect */
    }

    @keyframes scaleUpDown {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.2); /* Scale up */
        }
        100% {
            transform: scale(1); /* Scale back to normal */
        }
    }

    .animate-icon {
        animation: scaleUpDown 2s infinite ease-in-out; /* Adjust the duration to your preference */
    }

    html {
        scroll-behavior: smooth;
    }

}

@layer utilities {
    .container {
        @apply lg:max-w-5xl;
    }
}